### 1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [4]:
from bs4 import BeautifulSoup
import requests
page = requests.get ('https://en.wikipedia.org/wiki/Main_Page')
soup1=BeautifulSoup(page.text)

Headline=[] # empty list for store the
for i in soup1.find_all('h2',class_="mp-h2"):
    Headline.append(i.text)

# making dataframes
import pandas as pd
df=pd.DataFrame({'Header':Headline})
print('\033[1m'+'Header Tags in Wikipidea'+'\033[0m')
df

Header Tags in Wikipidea

                          Header
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

### 2) Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame

In [3]:
#Import required libraries
from bs4 import BeautifulSoup
import requests
page = requests.get ('https://www.imdb.com/list/ls055386972/')
soup2=BeautifulSoup(page.content)

#Name of Movie
Name=[] # empty list for store the
for i in soup2.find_all('h3',class_="lister-item-header"):
    Name.append(i.get_text().split('|')[0].replace("\n",""))
    
# Year of Release
year_of_release=[]
for i in soup2.find_all('span',class_="lister-item-year text-muted unbold"):
    year_of_release.append(i.text)
    
# Rating
Rating=[]
for i in soup2.find_all('div',class_="ipl-rating-star small"):
    Rating.append(i.get_text().replace("\n",""))

    
# making dataframes
import pandas as pd
df=pd.DataFrame({'Name of movie':Name,'Rating':Rating,'Year of release':year_of_release})
df

                                    Name of movie Rating Year of release
0                           1.The Godfather(1972)    9.2          (1972)
1                        2.Schindler's List(1993)      9          (1993)
2                            3.12 Angry Men(1957)      9          (1957)
3                         4.La vita è bella(1997)    8.6          (1997)
4         5.Il buono, il brutto, il cattivo(1966)    8.8          (1966)
5                6.The Shawshank Redemption(1994)    9.3          (1994)
6                7.The Pursuit of Happyness(2006)      8          (2006)
7                    8.Shichinin no samurai(1954)    8.6          (1954)
8                        9.The Intouchables(2011)    8.5          (2011)
9                      10.Central do Brasil(1998)      8          (1998)
10                   11.Requiem for a Dream(2000)    8.3          (2000)
11                      12.A Beautiful Mind(2001)    8.2          (2001)
12                   13.Hachi: A Dog's Tale(2009)    8.1          (2009)
13                             14.Taken(I) (2008)    7.8      (I) (2008)
14                  15.Yeopgijeogin geunyeo(2001)      8          (2001)
15                         16.Amores perros(2000)    8.1          (2000)
16                           17.The Shining(1980)    8.4          (1980)
17                            18.Apocalypto(2006)    7.8          (2006)
18                             19.Gladiator(2000)    8.5          (2000)
19                             20.Cast Away(2000)    7.8          (2000)
20                       21.The Dark Knight(2008)      9          (2008)
21                           22.The Pianist(2002)    8.5          (2002)
22                               23.Titanic(1997)    7.9          (1997)
23                               24.Bin-jip(2004)    7.9          (2004)
24                            25.Braveheart(1995)    8.4          (1995)
25                 26.It's a Wonderful Life(1946)    8.6          (1946)
26  27.Bom yeoreum gaeul gyeoul geurigo bom(2003)      8          (2003)
27                                 28.Alien(1979)    8.5          (1979)
28                        29.Salinui chueok(2003)    8.1          (2003)
29                        30.Vozvrashchenie(2003)    7.9          (2003)
30                  31.Ang-ma-reul bo-at-da(2010)    7.8          (2010)
31                     32.Bacheha-Ye aseman(1997)    8.2          (1997)
32               33.Jodaeiye Nader az Simin(2011)    8.3          (2011)
33                       34.The Sixth Sense(1999)    8.2          (1999)
34               35.Nae meorisokui jiwoogae(2004)    8.1          (2004)
35                             36.Okuribito(2008)      8          (2008)
36                   37.Wo de fu qin mu qin(1999)    7.8          (1999)
37                   38.Saving Private Ryan(1998)    8.6          (1998)
38          39.The Bridge on the River Kwai(1957)    8.2          (1957)
39                               40.Ben-Hur(1959)    8.1          (1959)
40                          41.The Exorcist(1973)    8.1          (1973)
41                42.El secreto de sus ojos(2009)    8.2          (2009)
42                                  43.Léon(1994)    8.5          (1994)
43                        44.The Green Mile(1999)    8.6          (1999)
44                           45.Gran Torino(2008)    8.1          (2008)
45                     46.Kill Bill: Vol. 1(2003)    8.2          (2003)
46                         47.Jurassic Park(1993)    8.2          (1993)
47            48.Terminator 2: Judgment Day(1991)    8.6          (1991)
48                    49.Back to the Future(1985)    8.5          (1985)
49                          50.Finding Nemo(2003)    8.2          (2003)

### 3) Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [2]:
from bs4 import BeautifulSoup
import requests
# Send get request to the webpage server to get the source code of the page
page = requests.get ('https://www.imdb.com/india/top-rated-indian-movies')
soup3=BeautifulSoup(page.content)

# Name of Movie
movie_string=[] # empty list 
for i in soup3.find_all('td',class_="titleColumn"):
    movie_string.append(i.get_text().split("|")[0].replace("\n",""))
    
Name = movie_string[0:50]  

# scrapping rating
rating=[]
for i in soup3.find_all('td',class_="ratingColumn imdbRating"):
    rating.append(i.get_text().replace("\n",""))
Rating=rating[0:50] 

# scrapping year of release
year_of_release=[]
for i in soup3.find_all('span',class_="secondaryInfo"):
    year_of_release.append(i.text)
    
year=year_of_release[0:50]

# making dataframes
import pandas as pd
df=pd.DataFrame({'Name of movie':Name,'Rating':Rating,'Year of release':year})
print('\033[1m'+'IMDB’s Top rated 50 Indian movies'+'\033[0m')
df

IMDB’s Top rated 50 Indian movies

                                        Name of movie Rating Year of release
0         1.      Ramayana: The Legend of Prince R...    8.6          (1993)
1            2.      Rocketry: The Nambi Effect(2022)    8.4          (2022)
2                               3.      Nayakan(1987)    8.4          (1987)
3                              4.      Gol Maal(1979)    8.4          (1979)
4                           5.      777 Charlie(2022)    8.4          (2022)
5                            6.      Anbe Sivam(2003)    8.4          (2003)
6                     7.      Pariyerum Perumal(2018)    8.4          (2018)
7                           8.      Apur Sansar(1959)    8.4          (1959)
8                              9.      3 Idiots(2009)    8.4          (2009)
9                             10.      Jai Bhim(2021)    8.4          (2021)
10                    11.      Manichitrathazhu(1993)    8.3          (1993)
11                               12.      #Home(2021)    8.3          (2021)
12                     13.      Soorarai Pottru(2020)    8.3          (2020)
13                        14.      Black Friday(2004)    8.3          (2004)
14                   15.      Kumbalangi Nights(2019)    8.3          (2019)
15                   16.      C/o Kancharapalem(2018)    8.3          (2018)
16                    17.      Taare Zameen Par(2007)    8.3          (2007)
17                            18.      Kireedam(1989)    8.3          (1989)
18                              19.      Dangal(2016)    8.3          (2016)
19                              20.      Kaithi(2019)    8.3          (2019)
20                              21.      Jersey(2019)    8.3          (2019)
21                                  22.      96(2018)    8.3          (2018)
22                         23.      Maya Bazaar(1957)    8.2          (1957)
23                           24.      Natsamrat(2016)    8.2          (2016)
24                              25.      Asuran(2019)    8.2          (2019)
25                          26.      Drishyam 2(2021)    8.2          (2021)
26                          27.      Sita Ramam(2022)    8.2          (2022)
27                        28.      Thevar Magan(1992)    8.2          (1992)
28                          29.      Visaaranai(2015)    8.2          (2015)
29                 30.      Sarpatta Parambarai(2021)    8.2          (2021)
30                          31.      Thalapathi(1991)    8.2          (1991)
31                        32.      Nadodikkattu(1987)    8.2          (1987)
32                     33.      Pather Panchali(1955)    8.2          (1955)
33                            34.      Drishyam(2013)    8.2          (2013)
34                        35.      Thani Oruvan(2015)    8.2          (2015)
35                  36.      Jaane Bhi Do Yaaro(1983)    8.2          (1983)
36                        37.      Vada Chennai(2018)    8.2          (2018)
37                           38.      Aparajito(1956)    8.2          (1956)
38                   39.      Khosla Ka Ghosla!(2006)    8.2          (2006)
39                        40.      Sardar Udham(2021)    8.2          (2021)
40                             41.      Anniyan(2005)    8.2          (2005)
41                            42.      Ratsasan(2018)    8.1          (2018)
42                       43.      Chupke Chupke(1975)    8.1          (1975)
43                  44.      Gangs of Wasseypur(2012)    8.1          (2012)
44                            45.      Drishyam(2015)    8.1          (2015)
45                             46.      Peranbu(2018)    8.1          (2018)
46                      47.      Bangalore Days(2014)    8.1          (2014)
47                            48.      Mahanati(2018)    8.1          (2018)
48                               49.      Satya(1998)    8.1          (1998)
49                              50.      Premam(2015)    8.1          (2015)

### 4) Write python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [5]:
from bs4 import BeautifulSoup
import requests
page = requests.get ('https://presidentofindia.nic.in/former-presidents.htm')

# page content
soup4=BeautifulSoup(page.content)

# Name of President
first_title2=[]
for i in soup4.find_all('h3'):
    first_title2.append(i.text)
    
#Term of Office
office = [] # creating the empty list
for i in soup4.find_all("div",class_="presidentListing"):
     office.append(i.find_all("p")[0].text.split(":")[1])
        
        
# making dataframes
import pandas as pd
df=pd.DataFrame({'Name of President':first_title2,'Term of Office':office})
print('\033[1m'+'Former presidents of India'+'\033[0m')
df

Former presidents of India

,Name of President,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

### 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
    a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
    b) Top 10 ODI Batsmen along with the records of their team andrating.
    c) Top 10 ODI bowlers along with the records of their team andrating

##### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [7]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
page = requests.get ('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup5=BeautifulSoup(page.content)

# Top 10 ODI teams
team=[]


for i in soup5.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
team=team[0:10]

Matches=[]
match=soup5.find_all('td',class_='rankings-block__banner--matches')
matchs=soup5.find_all('td',class_='table-body__cell u-center-text')
mtc = match + matchs

# Record of matches
for i in mtc:
    Matches.append(i.text)
    Matches=Matches[0:10]
    
# Points
Points=[]

pt=soup5.find_all('td',class_="rankings-block__banner--points")
pts= soup5.find_all('td',class_ ="table-body__cell u-center-text")
Point= pt + pts
for i in Point:
    Points.append(i.get_text().replace("\n",""))
    Points=Points[0:10]

# Ratings   
Rating=[]
rating = soup5.find_all('td',class_="table-body__cell u-text-right rating")
for i in rating:
    Rating.append(i.get_text().replace("\n",""))
    Rating=Rating[0:10]
    
# making dataframes

df=pd.DataFrame({'Country':team,'Matches':Matches,'Points':Points,'Rating':Rating})
print('\033[1m'+'ICC MENS ODI RANKING'+'\033[0m') # Print Title in bold case
df

ICC MENS ODI RANKING

        Country Matches Points Rating
0     Australia      35  3,965    113
1   New Zealand      31     31    113
2         India   3,504  3,504    111
3       England      47     47    106
4      Pakistan   5,294  5,294    101
5  South Africa      36     36     95
6    Bangladesh   3,988  3,988     86
7     Sri Lanka      25     25     72
8   West Indies   2,649  2,649     71
9   Afghanistan      31     31     51

#### b) Top 10 ODI Batsmen along with the records of their team and rating.

In [13]:
# ICC Bating Ranking

import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup5b= BeautifulSoup(response.content, 'lxml')
Position =[]
Player =[]
Country =[]
Rating =[]

# Extracting Data of Top Player from Banner
block_1= soup5b.find('tr', attrs={'class':'rankings-block__banner'}) # contains Top Player ranking detail

Position.append(block_1.find('td',class_='rankings-block__position').text)# Ranking Position
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text) # Extract Player Name
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)# Extract Country Name
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text) # Extract Rating

# Extracting other Player Ranking
table_rows =soup5b.find_all('tr', attrs={'class':'table-body'})

for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)
    
# Storing data in Dataframe
ODI_Batmans=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

print('\033[1m'+'ICC ODI MENS BATTING RANKING'+'\033[0m') # Print Title in bold case
ODI_Batmans

200 ---> https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting



ICC ODI MENS BATTING RANKING

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Babar Azam,,887
1,2 ...,Rassie van der Dussen,SA,777
2,3 ...,Imam-ul-Haq,PAK,740
3,4 ...,Shubman Gill,IND,738
4,5 ...,David Warner,AUS,726
5,6 ...,Virat Kohli,IND,719
6,7 ...,Quinton de Kock,SA,718
7,8 ...,Rohit Sharma,IND,707
8,9 ...,Steve Smith,AUS,702
9,10 ...,Fakhar Zaman,PAK,699
10,11 ...,Shai Hope,WI,698

##### c) Top 10 ODI bowlers along with the records of their team andrating

In [14]:
# ICC ODI Mens Bowling Ranking

import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup5c= BeautifulSoup(response.content, 'lxml')
Position =[]
Player =[]
Country =[]
Rating =[]

# Extracting Data of Top Player from Banner
block_1= soup5c.find('tr', attrs={'class':'rankings-block__banner'}) # contains Top Player ranking detail

Position.append(block_1.find('td',class_='rankings-block__position').text)# Ranking Position
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text) # Extract Player Name
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)# Extract Country Name
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text) # Extract Rating

# Extracting other Player Ranking
table_rows =soup5c.find_all('tr', attrs={'class':'table-body'})

for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)
    
# Storing data in Dataframe
ODI_Bowling=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

print('\033[1m'+'ICC ODI MENS BOWLING RANKING'+'\033[0m') # Print Title in bold case
ODI_Bowling

200 ---> https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling



ICC ODI MENS BOWLING RANKING

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Josh Hazlewood,,705
1,2 ...,Trent Boult,NZ,694
2,3 ...,Mohammed Siraj,IND,691
3,4 ...,Mitchell Starc,AUS,686
4,5 ...,Matt Henry,NZ,676
5,6 ...,Rashid Khan,AFG,659
6,7 ...,Adam Zampa,AUS,652
7,8 ...,Shaheen Afridi,PAK,641
8,9 ...,Mujeeb Ur Rahman,AFG,637
9,10 ...,Shakib Al Hasan,BAN,636
10,11 ...,Mohammad Nabi,AFG,631

### 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
    a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
    b) Top 10 women’s ODI Batting players along with the records of their team and rating.
    c) Top 10 women’s ODI all-rounder along with the records of their team and rating

##### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [16]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n')
SOUP6a= BeautifulSoup(response.content, 'lxml')

# Creating empty list
Team=[]
Matches=[]
Points=[]
Rating=[]

# Extracting Team Name
Country = SOUP6a.find_all('span',class_="u-hide-phablet")
for i in Country:
    Team.append(i.get_text().replace("\n",""))
    Team=Team[0:10]
    
# Extracting No of Matches    
match=SOUP6a.find_all('td',class_='rankings-block__banner--matches')
matchs=SOUP6a.find_all('td',class_='table-body__cell u-center-text')
mtc = match + matchs
for i in  mtc:
    Matches.append(i.text)
    Matches=Matches[0:10]
    
# Extracting Points gain    
pt=SOUP6a.find_all('td',class_="rankings-block__banner--points")
pts= SOUP6a.find_all('td',class_ ="table-body__cell u-center-text")
Point= pt + pts
for i in Point:
    Points.append(i.get_text().replace("\n",""))
    Points=Points[0:10]
    
# Extracting Rating
rat=SOUP6a.find_all('td',class_="rankings-block__banner--rating")

rating = SOUP6a.find_all('td',class_="table-body__cell u-text-right rating")
RATING=rat + rating
for i in RATING:
    Rating.append(i.get_text().replace("\n",""))
    Rating=Rating[0:10]
Rating

# Creating dataframe to store data
ODI=pd.DataFrame({})
ODI['Country']=Team
ODI['Matches']=Matches
ODI['Rating']=Rating
ODI['Points']=Points

print('\033[1m'+'ICC ODI WOMENS RANKING'+'\033[0m') # Print Title in bold case
ODI

200 ---> https://www.icc-cricket.com/rankings/womens/team-rankings/odi


ICC ODI WOMENS RANKING

,Country,Matches,Rating,Points
0,Australia,21,172 ...,"3,603"
1,England,28,119,28
2,South Africa,"3,342",119,"3,342"
3,India,26,104,26
4,New Zealand,"3,098",102,"3,098"
5,West Indies,27,94,27
6,Bangladesh,"2,820",76,"2,820"
7,Thailand,25,72,25
8,Pakistan,"2,553",62,"2,553"
9,Sri Lanka,27,44,27

#### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [18]:
# ICC WOMENS Bating Ranking

import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup6b= BeautifulSoup(response.text, 'lxml')
Position =[]
Player =[]
Country =[]
Rating =[]

# Extracting Data of Top Player from Banner
block_1= soup6b.find('tr', attrs={'class':'rankings-block__banner'}) # contains Top Player ranking detail

Position.append(block_1.find('td',class_='rankings-block__position').text)# Ranking Position
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text) # Extract Player Name
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)# Extract Country Name
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text) # Extract Rating

# Extracting other Player Ranking
table_rows =soup6b.find_all('tr', attrs={'class':'table-body'})

for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)
    
# Storing data in Dataframe
ODI_Batmans=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

print('\033[1m'+'ICC ODI WOMENS BATTING RANKING'+'\033[0m') # Print Title in bold case
ODI_Batmans

200 ---> https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting



ICC ODI WOMENS BATTING RANKING

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Alyssa Healy,,762
1,2 ...,Beth Mooney,AUS,754
2,3 ...,Laura Wolvaardt,SA,732
3,4 ...,Natalie Sciver,ENG,731
4,5 ...,Meg Lanning,AUS,717
5,6 ...,Harmanpreet Kaur,IND,716
6,7 ...,Smriti Mandhana,IND,714
7,8 ...,Rachael Haynes,AUS,680
8,9 ...,Chamari Athapaththu,SL,655
9,10 ...,Amy Satterthwaite,NZ,641
10,11 ...,Ellyse Perry,AUS,626

#### c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [19]:
# ICC ODI Womens Bowling Ranking

import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup6c= BeautifulSoup(response.text, 'html.parser')
Position =[]
Player =[]
Country =[]
Rating =[]

# Extracting Data of Top Player from Banner
block_1= soup6c.find('tr', attrs={'class':'rankings-block__banner'}) # contains Top Player ranking detail

Position.append(block_1.find('td',class_='rankings-block__position').text)# Ranking Position
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text) # Extract Player Name
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)# Extract Country Name
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text) # Extract Rating

# Extracting other Player Ranking
table_rows =soup6c.find_all('tr', attrs={'class':'table-body'})

for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)
    
# Storing data in Dataframe
ODI_Bowling=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

print('\033[1m'+'ICC ODI WOMENS BOWLING RANKING'+'\033[0m') # Print Title in bold case
ODI_Bowling

200 ---> https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling



ICC ODI WOMENS BOWLING RANKING

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Sophie Ecclestone,,751
1,2 ...,Jess Jonassen,AUS,723
2,3 ...,Shabnim Ismail,SA,722
3,4 ...,Megan Schutt,AUS,704
4,5 ...,Jhulan Goswami,IND,698
5,6 ...,Hayley Matthews,WI,660
6,7 ...,Kate Cross,ENG,655
7,8 ...,Ayabonga Khaka,SA,634
8,9 ...,Rajeshwari Gayakwad,IND,617
9,10 ...,Marizanne Kapp,SA,598
10,11 ...,Deepti Sharma,IND,589

#### 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame
    i) Headline
    ii) Time
    iii) News Link

In [12]:
from bs4 import BeautifulSoup
import requests
page = requests.get ('https://www.cnbc.com/world/?region=world')
soup7=BeautifulSoup(page.content)

# Headline
Headline=[]
for i in soup7.find_all('a',class_='LatestNews-headline'):
    Headline.append(i.text)
    
# Time    
Time=[]
for i in soup7.find_all('time',class_='LatestNews-timestamp'):
    Time.append(i.text)
    
# News Link
newsLink=[]
for i in soup7.find_all("div",class_="LatestNews-container"):
     newsLink.append(i.find("a",class_="LatestNews-headline").get("href"))
        
# making dataframes
import pandas as pd
df=pd.DataFrame({'Head Line':Headline,'Time':Time, 'News Link':newsLink})
print('\033[1m'+'Latest News Details from CNBC'+'\033[0m')
df

Latest News Details from CNBC

,Head Line,Time,News Link
0,EPA reportedly planning to announce significan...,14 Hours Ago,https://www.cnbc.com/2023/04/08/epa-reportedly...
1,How green mortgages can help finance an energy...,16 Hours Ago,https://www.cnbc.com/2023/04/08/green-mortgage...
2,3 reasons big bank earnings are super importan...,16 Hours Ago,https://www.cnbc.com/2023/04/08/3-reasons-big-...
3,Mixing these 2 parenting styles can help raise...,17 Hours Ago,https://www.cnbc.com/2023/04/08/parenting-styl...
4,How ChatGPT is changing the job hiring process...,17 Hours Ago,https://www.cnbc.com/2023/04/08/chatgpt-is-bei...
5,This 51-year-old pays $725 a month to live in ...,17 Hours Ago,https://www.cnbc.com/2023/04/08/51-year-old-pa...
6,Amateur golfer set to beat Tiger Woods' colleg...,17 Hours Ago,https://www.cnbc.com/2023/04/08/golfer-rose-zh...
7,Microsoft's $13 billion bet on OpenAI carries ...,18 Hours Ago,https://www.cnbc.com/2023/04/08/microsofts-com...
8,"Travel nursing can pay $187,000 for 9 months o...",18 Hours Ago,https://www.cnbc.com/2023/04/08/travel-nurse-e...
9,Oracle and five consumer names are among Wall ...,18 Hours Ago,https://www.cnbc.com/2023/04/08/software-giant...
10,Analysts say these two streaming giants have m...,18 Hours Ago,https://www.cnbc.com/2023/04/08/analysts-are-b...
11,"As population shrinks, these companies will be...",18 Hours Ago,https://www.cnbc.com/2023/04/08/as-population-...
12,Federal judge revokes FDA abortion pill approv...,"April 7, 2023",https://www.cnbc.com/2023/04/07/federal-judge-...
13,"Lawmakers meet with Apple, Disney CEOs for tal...","April 7, 2023",https://www.cnbc.com/2023/04/07/lawmakers-look...
14,Dollar General again found in violation of fed...,"April 7, 2023",https://www.cnbc.com/2023/04/07/dollar-general...
15,Commerce officials heading to China ahead of p...,"April 7, 2023",https://www.cnbc.com/2023/04/07/commerce-offic...
16,McDonald's $200M burger and Colgate frozen las...,"April 7, 2023",https://www.cnbc.com/2023/04/07/mcdonalds-200m...
17,1 in 3 people would quit for a 4-day workweek ...,"April 7, 2023",https://www.cnbc.com/2023/04/07/monstercom-1-i...
18,IRS may tax certain NFTs at a higher rate in t...,"April 7, 2023",https://www.cnbc.com/2023/04/07/irs-may-tax-ce...
19,Google VP says this is the best way to build a...,"April 7, 2023",https://www.cnbc.com/2023/04/07/google-vp-the-...
20,DOE boosts program that help small manufacture...,"April 7, 2023",https://www.cnbc.com/2023/04/07/doe-invests-in...
21,"S&P 500 futures, Treasury yields gain as labor...","April 7, 2023",https://www.cnbc.com/2023/04/07/sp-500-futures...
22,The 15 worst places to buy a home if you want ...,"April 7, 2023",https://www.cnbc.com/2023/04/07/worst-places-t...
23,"Job growth totals 236,000 in March, near expec...","April 7, 2023",https://www.cnbc.com/2023/04/07/jobs-report-ma...
24,Tim Cook shares one of his favorite tricks Ste...,"April 7, 2023",https://www.cnbc.com/2023/04/07/apple-ceo-tim-...
25,Question: How are some bars boosting profits? ...,"April 7, 2023",https://www.cnbc.com/2023/04/07/trivia-night-b...
26,Uranium is having a 'renaissance.' What to kno...,"April 7, 2023",https://www.cnbc.com/2023/04/07/uranium-is-hav...
27,Gold and mining ETFs are surging as the precio...,"April 7, 2023",https://www.cnbc.com/2023/04/07/gold-and-minin...
28,Gen Z cares about the environment. That's bad ...,"April 7, 2023",https://www.cnbc.com/2023/04/07/gen-z-expects-...
29,Letting everyone who wants a job have one is n...,"April 7, 2023",https://www.cnbc.com/2023/04/07/federal-reserv...

#### 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame
    i) Paper Title
    ii) Authors
    iii) Published Date
    iv) Paper URL

In [10]:
from bs4 import BeautifulSoup
import requests
page = requests.get ('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

soup8=BeautifulSoup(page.content)

# Paper Title
Title=[]
for i in soup8.find_all('a',class_='sc-5smygv-0 fIXTHm'):
    Title.append(i.text)
    
# Authors
Authors=[]
for i in soup8.find_all('span',class_='sc-1w3fpd7-0 dnCnAO'):
    Authors.append(i.text)
    
# Published Date    
Published_Date=[]
for i in soup8.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
    Published_Date.append(i.text)
    
# Paper URL
Paper_URL=[]
for i in soup8.find_all("li",class_="sc-9zxyh7-1 sc-9zxyh7-2 kOEIEO hvoVxs"):
    Paper_URL.append(i.find("a",class_="sc-5smygv-0 fIXTHm").get("href"))
    
    
# making dataframes
import pandas as pd
df=pd.DataFrame({'Paper Title':Title,'Authors':Authors,'Published Date':Published_Date, 'Paper URL':Paper_URL})
print('\033[1m'+'Most downloaded articles from AI in last 90 days'+'\033[0m')
df

Most downloaded articles from AI in last 90 days

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

### 9) Write a python program to scrape mentioned details from dineout.co.in and make data frame
    i) Restaurant name
    ii) Cuisine
    iii) Location
    iv) Ratings
    v) Image URL

In [11]:
#Import required libraries
from bs4 import BeautifulSoup
import requests
page = requests.get ('https://www.dineout.co.in/delhi-restaurants/dineout-pay')
soup9=BeautifulSoup(page.content)

# Restaurant Name
Name=[] # empty list for store the
for i in soup9.find_all('a',class_="restnt-name ellipsis"):
        Name.append(i.text)
        
# Cuisine        
Cuisine=[]
for i in soup9.find_all('span',class_="double-line-ellipsis"):
    Cuisine.append(i.text.split('|')[1])
    
# Location   
Location=[] # empty list for store the
for i in soup9.find_all('div',class_="restnt-loc ellipsis"):
    Location.append(i.text)
    
# Ratings    
Ratings=[] # empty list for store the
for i in soup9.find_all('div',class_="restnt-rating rating-4"):
    Ratings.append(i.text)
    
# Image URL    
Image=[] # empty list for store the
for i in soup9.find_all('img',class_="no-img"):
    Image.append(i.get('data-src'))
    
    
# making dataframes
import pandas as pd
df=pd.DataFrame({'Restaurant Name':Name,'Cuisine':Cuisine, 'Location':Location,'Rating':Ratings,'Image URL':Image})
print('\033[1m'+'Restaurants Near Me in Delhi'+'\033[0m')
df

Restaurants Near Me in Delhi

,Restaurant Name,Cuisine,Location,Rating,Image URL
0,Tamasha,"Continental, Asian, Italian, North Indian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Local,"North Indian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe High 5,"North Indian, Continental, Chinese","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,Ministry Of Beer,"North Indian, Continental, American, Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
4,Openhouse Cafe,"North Indian, Asian, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
5,My Bar Square,"Finger Food, Chinese, Continental, Italian","Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Warehouse Cafe,"North Indian, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,Unplugged Courtyard,"North Indian, Italian, Chinese, Turkish, Cont...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
8,Station Bar,"Italian, Chinese, North Indian, Fast Food","F-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
9,Lord of the Drinks,"Chinese, North Indian, Fast Food","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
10,The Junkyard Cafe,"North Indian, Continental, Chinese, Fast Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
11,Berco's,"Chinese, Thai","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
12,QBA,"North Indian, Continental, Italian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
13,The G.T. Road,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,38 Barracks,"North Indian, Chinese, Continental","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
15,Somewhere Restaurant & Bar,"North Indian, Continental, Asian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
16,Out Of The Box Courtyard,"North Indian, Mediterranean, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
17,Dasaprakash,"North Indian, South Indian, Beverages, Chines...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
18,Chido,"North Indian, Italian, Continental, Asian, Fi...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
19,Lazeez Affaire,"North Indian, Mughlai, Chinese","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
20,Ardor 2.1 Restaurant and Lounge,"North Indian, Chinese, Italian, Continental","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...